.ListToDoLists .summary{
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    display: flex;
}

.ListToDoLists .count{
    padding-left:1ex;
    color: blueviolet;
    font-size: 92%;
}
